body {
	background: #9d50bb;
	background: -webkit-linear-gradient(to right, #6e48aa, #9d50bb);
	background: linear-gradient(to right, #6e48aa, #9d50bb);
}

.logo-img {
	fontfamily: "'Protest Riot', sans-serif";
	font-size: 1.5em;
	color: #14b35b;
	opacity: 0.9;
}
